APP_ENV=local
APP_DEBUG=true
APP_KEY=SomeRandomString

DB_HOST=localhost
DB_DATABASE=homestead
DB_USERNAME=homestead
DB_PASSWORD=secret

CACHE_DRIVER=file
SESSION_DRIVER=file
QUEUE_DRIVER=sync

MAIL_DRIVER=smtp
MAIL_HOST=mailtrap.io
MAIL_PORT=2525
MAIL_USERNAME=null
MAIL_PASSWORD=null
MAIL_ENCRYPTION=null

GOOGLE_KEY=103560085186-mv6l14qqqtuu0k0d8973r5sbch2vfg3e.apps.googleusercontent.com
GOOGLE_SECRET=c8UFxklHo46St3WMIChQ4SUS
GOOGLE_REDIRECT_URI=http://resly.app/auth/google/callback
