body {
  padding-top: 70px;
  background:url('/img/pexels-photo.jpg');
}

.white {
    background: #fefefe;
    opacity: .8;
    margin-top: 60px;
    padding: 10px 20px;
}

.or {
    padding-bottom: 5%;
    text-align: center;
    margin: 20px 0;
    color: #808080;
    font-variant: small-caps;
}