        #changePasswordLink {
            background: #880000;
            color: #fff;
            padding: 7px;
            cursor: pointer;
        }

        #changePasswordForm {
            display: none;
        }

        .response-error {
            background: #aa0000;
            list-style: none;
            text-align: left;
        }

        .response {
            display: block;
            padding: 0 5px;
            /*border-radius: 3px;*/
        }

        .response-finish {
            text-align: center;
            font-size: 200%;
            color: #00aa00;
            font-family: 'Lato', sans-serif;
            background-color: #ffffff;
            border: solid #00aa00;
        }

        .btn {
            padding: 3px 15px;
            letter-spacing: 1px;
            color: #fff;
            background: #aa0000;
        }

        .password-element {
            width: 100%;
            text-align: center;
        }