body{
    background: #f8f6f1;
    font-family: 'Lato';
}

.container-wrapper{
    /*margin-top:40px;*/
    position: relative;
    top:40px;
    height: 100%;
    min-height: 100%;
}

.btn-primary{
    border-radius: 0;
    background: rgba(235, 43, 54, 1);
    border:rgba(235, 80, 67, 1);
}

.btn-primary:hover, .btn-primary:focus, .btn-primary:active{
    background: rgba(235, 80, 67, 1);
}

.form-control, select{
    border-radius: 0;
    box-shadow: none;
    font-family: 'Lato', 'seriff'

}

.form-control:focus{
    border-color: green;
    box-shadow: none;
}
.thumbnail{
    border-radius: 0;

}

[class*='col-'] {
    padding-left: 15px;
    padding-right: 15px;
}

.container-wrapper > .container{
    height: 100%;
    min-height: 100%;
    padding: 0;
}
.navbar{
    background:rgba(235, 43, 54, 1);
    top:0;
    padding: 10px;
}

.page-content{
    background: #FFF;
    height: 100%;
    min-height: 100%;
}
.nav-pills{
    border-top:6px solid #00b075;
    background: #FFF;
}


.nav-pills li a{
    color:#333;
     /*padding: 10px 20px;*/
    font-family: Lato, sans-serif;
}

.nav-pills li a .fa{
    margin-right: 5px;
}

.nav-pills>li.active>a,
.nav-pills>li.active>a:focus,
.nav-pills>li.active>a:hover {
    background-color: #e8e6e1;
    border-radius: 0;
    color:#333;
    font-weight:bold;
}

.nav-side{
    background: #FFF;

}


.nav-side li > ul li{
    list-style-type: none;
}
.nav-side li > ul {
    margin:0;
    padding:0px;
}
.nav-side li > ul li a{
    background: #f0eee8;
    display: block;
    padding: 5px 20px 5px 20px;

}

.nav-side li > ul li a:hover{
    background: #e8e6e1;
    text-decoration: none;
}

.page{
    background: #FFF;
    height: 100%;
    min-height: 100%;

}

.page-title{
    border-bottom: 4px solid #EBEBEB;
    color:#555;
    padding:5px 30px;
}

.page-title h3{
    font-weight: 700;
}


.page-title a{
    color:#EBEBEB;
    display: inline-block;
    margin-left: 20px;
}

.page-title a:hover, .page-title:hover  a{
    color:#00b075;
    cursor: pointer;
}

.page-body{
    padding:10px 30px 30px;;
}

.not-available-label{
    border:2px dashed #e1dfdb;
    padding:20px 30px 30px;
    margin:10px auto;
    text-align: center;
}

.not-available-label > h3
{
    color:#777;
}
