body{
    background: #444;
    background-image: url(http://lorempixel.com/1300/800/food);
    color:#333;
}

.page-title{
    text-align: center;
    text-transform: uppercase;
}
h5{
    color:#444;
    font-family: 'Montez', cursive;
    font-weight: 700;
    font-size: 200%;
    text-align: center;
}
input[type=text], input[type=password] {
    padding: 2px 15px !important;
    color:#333;
    font-weight: bold;
}
.login {
    padding: 10px 20px;
    background: rgba(2,2,2, 0.3);
    padding-top: 70px;
    max-width: 330px;

    margin:40px auto 25px auto;
    border:2px solid rgba(4,4,4,0.2);
    box-shadow:1px 2px 4px rgba(99,99,99,0.7);
    border-radius: 5px;
    position: relative;
}

 .info {
    text-align: center;
    color:#333;
    font-weight: bold;
    font-family: 'Lato', sans-serif;
}

 .info p{

}
.or{
    text-align: center;
}
.or .or-label{
    font-size: 40px;
    color:rgba(235, 43, 54, 1);
}


footer{
    bottom: 0;
    width: 100%;
}
