body {
    color: #fff;
}

#page {
    background: url('/img/pexels-photo.jpg');
    min-height: 100vh;
}

.site-title {
    text-align: center;
    font-size: 10em !important;
    color: rgba(0, 0, 0, 0.5);
    text-transform: uppercase;
}

/*.site-slogan {
    padding: 4em 0;
    text-align: center;
}

.site-slogan > span {
    font-size: 1em;
    background: rgba(180, 45, 29, 0.8);
    padding: 1em 4em;
    color: rgba(255, 255, 255, 0.8);
    border-top:1px solid #ccc;
    border-bottom:1px solid #ccc;
}*/