#banner {
    padding-top: 2.5em;
    min-height: 500px;
    background: rgba(255, 255, 255, 0.68);
    color: #fff;
}

.home {
    background:url('/img/home.jpg') center no-repeat;
    height: 620px;
    text-align: center;
    background-size: cover;
    background-repeat:   no-repeat;
    background-position: center center;
}


.home-info {
    padding-top: 5%;
    color: white;
}

.home-info h1, h4 {
    color: white;
}

#banner .inner {
    text-align: center;
    padding: 2em;
}

#banner h1 {
    color: rgb(177, 61, 114);
    font-size: 8em;
}

#banner small {
    color: #735E72;
}

#content {
    padding: 2em 0;
}

.cell {
    text-align: center;
}

.search-form {
    background-color: transparent;
    margin-left: auto;
    margin-right: auto;
    margin-top: 3em;
    width: 80%;
}

.searching {
    background: #fefefe;
}

.social ul li {
    list-style: none;
    float: left;
    padding-left: 10%;
    margin: 4%;
}

.social ul li a i {
    background: #205D7A;
    color: #fff;
    width: 40px;
    height: 40px;
    border-radius: 20px;
    font-size: 25px;
    text-align: center;
    margin-right: 10px;
    padding-top: 15%;
}
.social .fa-facebook {
    background:#3b5998;
}

.social .fa-linkedin {
    background:#007bb6;
}

.social .fa-twitter {
    background:#00aced;
}

.social .fa-google-plus {
    background:#dd4b39;
}

.social ul li a i {
    transition: all 0.2s ease-in-out;
}
.social ul li a i:hover {
    opacity: .7;
}

.separator {
    clear: both;
}

.login {
    padding-top: 70px;
}

.register {
    padding-top: 70px;
}

.rest-reg {
    padding-top: 4%;
}

.or {
    padding-top: 5%;
    padding-bottom: 5%;
    text-align: center;
    margin: 20px 0;
    color: #808080;
    font-variant: small-caps;
}

.or h2 {
    width:100%;
    text-align:center;
    border-bottom: 1px solid #BBBBBB;
    line-height:0.1em;
    margin:10px 0 20px;
    font-size: small;
}

.or h2 span {
    background:#fff;
    padding:0 10px;
}

.social ul {
    overflow: auto;
}

.social ul li {
    list-style: none;
    float: left;
    padding-left: 10%;
    margin: 4%;
}

.social ul li a i {
    background: #205D7A;
    color: #fff;
    width: 40px;
    height: 40px;
    border-radius: 20px;
    font-size: 25px;
    text-align: center;
    margin-right: 10px;
    padding-top: 15%;
}
.social .fa-facebook {
    background:#3b5998;
}

.social .fa-linkedin {
    background:#007bb6;
}

.social .fa-twitter {
    background:#00aced;
}

.social .fa-google-plus {
    background:#dd4b39;
}

.social ul li a i {
    transition: all 0.2s ease-in-out;
}
.social ul li a i:hover {
    opacity: .7;
}

.rest-footer {
    padding-bottom: 210px;
}

footer {
    padding-top: 1%;
    color: #777;
    background: #222;
    border-top: 2px solid #444;
    font-size: medium;
    clear: both;
    position: relative;
}

footer h4 {
    color: #777;
}

footer p {
    margin: 0 0 0.3em;
    font-size: 85%;
}

.flow-group {
    padding: 15px;
}

/* Tab Navigation */
.nav-tabs {
    margin: 0;
    padding: 0;
    border: 0;
}
.nav-tabs > li.active > a,
.nav-tabs > li.active > a:hover {
    box-shadow: inset 0 0 0 0 rgba(0,0,0,.4),-2px -3px 5px -2px rgba(0,0,0,.4);
}

.rest-home {
    padding-top: 90px;
}

.white {
    margin-top: 60px;
    padding: 10px 20px;
}

.or {
    padding-top: 5%;
    padding-bottom: 5%;
    text-align: center;
    margin: 20px 0;
    color: #808080;
    font-variant: small-caps;
}

.or h2 {
    width:100%;
    text-align:center;
    border-bottom: 1px solid #BBBBBB;
    line-height:0.1em;
    margin:10px 0 20px;
    font-size: small;
}

.or h2 span {
    background:#fff;
    padding:0 10px;
}

.social ul {
    overflow: auto;
}

.social ul li {
    list-style: none;
    float: left;
    padding-left: 10%;
    margin: 4%;
}

.social ul li a i {
    background: #205D7A;
    color: #fff;
    width: 40px;
    height: 40px;
    border-radius: 20px;
    font-size: 25px;
    text-align: center;
    margin-right: 10px;
    padding-top: 15%;
}

.social .fa-facebook {
    background:#3b5998;
}

.social .fa-linkedin {
    background:#007bb6;
}

.social .fa-twitter {
    background:#00aced;
}

.social .fa-google-plus {
    background:#dd4b39;
}

.social ul li a i {
    transition: all 0.2s ease-in-out;
}

.social ul li a i:hover {
    opacity: .7;
}

body {
  padding-top: 40px;
}

.btn-nav {
  margin-top: 10%;
}

.flash-message {
    width: 80%;
    margin-left: 10%;
    background-color: #424242;
}

/*Style for featured Restaurants*/
#featured-restaurant-scroller .restaurant-info
{
    padding:10px;
    text-align: center;
    text-decoration: none;
}

#featured-restaurant-scroller .restaurant-title{
    font-family: 'Pacifico', cursive;
}

#featured-restaurant-scroller .info
{
    color:#AA5555;
    font-weight: bold;
    font-family: 'Lato', sans-serif;
    height:150px;
    overflow: hidden;
}

#featured-restaurant-scroller .price
{
    font-size: 20px;
    color:rgba(232, 81, 12, 1);
}


#featured-restaurant-scroller a:hover
{
    text-decoration: none;
}

#featured-restaurant-scroller .cell
{
    margin: 5px;
    color: #FFF;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    text-align: center;
}


.belt
{
    padding: 2em 0;
    background: rgba(232, 81, 12, 1);
    color: #FFF;
    text-align: center;
    font-family: 'Pacifico', cursive;

}
.belt h5
{
    color: #FFF;
}
#latest-restaurants-section
{
    background: #333;
    min-height: 300px;
}
.latest-restaurant-items
{
    text-align: center;
    margin: 10px 5px;
    color:#FFF;
    font-weight: bold;
    list-style-type: none;
    height: 10em;
    text-overflow: ellipsis;
    overflow: hidden;
    text-align: center;
}

.latest-restaurant-items li .title
{
    font-size: 1.5em;
    font-family: 'Pacifico', cursive;
    display: block;
}

.latest-restaurant-items li .title a
{
    color:#FFF;
}

.latest-restaurant-items li .title a:hover
{
    color:rgba(232, 81, 12, 1);
}
.latest-restaurant-items li .info
{
    display: block;
    font-size: 12px;
    font-weight: 100;
}
.latest-restaurant-items li .info .price
{
    color:rgba(232, 22, 12, 1);
    font-weight: bold;
>>>>>>> develop
}
