#banner {
    padding-top: 2.5em;
    min-height: 500px;
    background: rgba(255, 255, 255, 0.68);
    color: #fff;
}

.home {
    background:url('/img/home.jpg') center no-repeat;
    height: 520px;
    text-align: center;
    background-size: cover;
}


.home-info {
    padding-top: 5%;
    color: white;
}

.home-info h1, h4 {
    color: white;
}

#banner .inner {
    text-align: center;
    padding: 2em;
}

#banner h1 {
    color: rgb(177, 61, 114);
    font-size: 8em;
}

#banner small {
    color: #735E72;
}

#content {
    padding: 2em 0;
}

.cell {
    text-align: center;
}

.search-form {
    background-color: transparent;
    margin-left: auto;
    margin-right: auto;
    margin-top: 3em;
    width: 80%;
}

.searching {
    background: #fefefe;
}

.social ul li {
    list-style: none;
    float: left;
    padding-left: 10%;
    margin: 4%;
}

.social ul li a i {
    background: #205D7A;
    color: #fff;
    width: 40px;
    height: 40px;
    border-radius: 20px;
    font-size: 25px;
    text-align: center;
    margin-right: 10px;
    padding-top: 15%;
}
.social .fa-facebook {
    background:#3b5998;
}

.social .fa-linkedin {
    background:#007bb6;
}

.social .fa-twitter {
    background:#00aced;
}

.social .fa-google-plus {
    background:#dd4b39;
}

.social ul li a i {
    transition: all 0.2s ease-in-out;
}
.social ul li a i:hover {
    opacity: .7;
}

.separator {
    clear: both;
}

.login {
    padding-top: 70px;
}

.register {
    padding-top: 70px;
}

.rest-reg {
    padding-top: 4%;
}

.or {
    padding-top: 5%;
    padding-bottom: 5%;
    text-align: center;
    margin: 20px 0;
    color: #808080;
    font-variant: small-caps;
}

.or h2 {
    width:100%;
    text-align:center;
    border-bottom: 1px solid #BBBBBB;
    line-height:0.1em;
    margin:10px 0 20px;
    font-size: small;
}

.or h2 span {
    background:#fff;
    padding:0 10px;
}

.social ul {
    overflow: auto;
}

.social ul li {
    list-style: none;
    float: left;
    padding-left: 10%;
    margin: 4%;
}

.social ul li a i {
    background: #205D7A;
    color: #fff;
    width: 40px;
    height: 40px;
    border-radius: 20px;
    font-size: 25px;
    text-align: center;
    margin-right: 10px;
    padding-top: 15%;
}
.social .fa-facebook {
    background:#3b5998;
}

.social .fa-linkedin {
    background:#007bb6;
}

.social .fa-twitter {
    background:#00aced;
}

.social .fa-google-plus {
    background:#dd4b39;
}

.social ul li a i {
    transition: all 0.2s ease-in-out;
}
.social ul li a i:hover {
    opacity: .7;
}

.rest-footer {
    padding-bottom: 210px;
}

footer {
    padding-top: 1%;
    color: #777;
    background: #222;
    border-top: 2px solid #444;
    font-size: medium;
    clear: both;
    position: relative;
}

footer h4 {
    color: #777;
}

footer p {
    margin: 0 0 0.3em;
    font-size: 85%;
}

.flow-group {
    padding: 15px;
}

/* Tab Navigation */
.nav-tabs {
    margin: 0;
    padding: 0;
    border: 0;
}
.nav-tabs > li.active > a,
.nav-tabs > li.active > a:hover {
    box-shadow: inset 0 0 0 0 rgba(0,0,0,.4),-2px -3px 5px -2px rgba(0,0,0,.4);
}

.rest-home {
    padding-top: 90px;
}

.white {
    margin-top: 60px;
    padding: 10px 20px;
}

.or {
    padding-top: 5%;
    padding-bottom: 5%;
    text-align: center;
    margin: 20px 0;
    color: #808080;
    font-variant: small-caps;
}

.or h2 {
    width:100%;
    text-align:center;
    border-bottom: 1px solid #BBBBBB;
    line-height:0.1em;
    margin:10px 0 20px;
    font-size: small;
}

.or h2 span {
    background:#fff;
    padding:0 10px;
}

.social ul {
    overflow: auto;
}

.social ul li {
    list-style: none;
    float: left;
    padding-left: 10%;
    margin: 4%;
}

.social ul li a i {
    background: #205D7A;
    color: #fff;
    width: 40px;
    height: 40px;
    border-radius: 20px;
    font-size: 25px;
    text-align: center;
    margin-right: 10px;
    padding-top: 15%;
}
.social .fa-facebook {
    background:#3b5998;
}

.social .fa-linkedin {
    background:#007bb6;
}

.social .fa-twitter {
    background:#00aced;
}

.social .fa-google-plus {
    background:#dd4b39;
}

.social ul li a i {
    transition: all 0.2s ease-in-out;
}
.social ul li a i:hover {
    opacity: .7;
}

body {
  padding-top: 40px;
}

.alert-message {
  width: 80%;
  margin-left: 10%;
  background-color: #333233;
}


.btn-nav {
  margin-top: 10%;
}
